<form class="builder-form" action="<%= path %>">
	<div class="content">
	  <div class="header">	
		  <a class="back-button fa fa-chevron-left" href="/classes/<%= classroom.id %>"></a>    
		  <input type="text" class="survey-name" name="name" placeholder="Give Your Survey A Name" step="1" autofocus required>
	    <input type="submit" class="new-button" value="CREATE"/>
	    <div class="clear"></div>
	  </div>
	  <table class="builder-table">
	    <thead>
	      <tr>
		      <td></td>
	        <td>Tag (represented in graphs)</td>
	        <td>Question (shown to student)</td>
	        <td></td>
	      </tr>
	    </thead>
	    <tbody>
		    <tr class="empty">
		      <td><div class="fa fa-pencil"></div></td>
	        <td>
		        <input type="text" class="tag input" placeholder="understanding" maxlength="30" required>
		        <div class="counter"></div>
		       </td>
	        <td><textarea class="question input" placeholder="Did you understand todays content?" required></textarea></td>
	        <td class="remove"><div class="fa fa-times"></div></td>
	      </tr>
	      <tr class="hidden">
		      <td><div class="fa fa-pencil"></div></td>
	        <td>
		        <input type="text" class="tag input" placeholder="understanding" maxlength="30">
		        <div class="counter"></div>
		      </td>
	        <td><textarea class="question input" placeholder="Did you understand todays content?"></textarea></td>
	        <td class="remove"><div class="fa fa-times"></div></td>
	      </tr>
	    </tbody>
	  </table>
	  <div class="new-question">
		  <span class="fa fa-level-up"></span>
		  New Question
		</div>
	</div>
</form>
