/* Container Modal Content Table */
.content table {
  width: 100%;
  border: none;
  border-collapse: separate;
  border-spacing: 0;
}

.content table td {
  padding: 8px 12px;
  font-size: 14px;
  font-family: 'Titillium Web', sans-serif;
}

.content table td:first-child {
  border-left: none;
}

.content table thead td {
  font-weight: 700;
  color: #838ca2;
  border-left: solid 1px #bfcfd9;
  border-bottom: solid 1px #bfcfd9;

  background-color: #edf0f4;
  background-image: -webkit-linear-gradient(#f3f6fa,#eff4f7);
  background-image: linear-gradient(#f3f6fa,#eff4f7);
}

.content table.viewer-table thead td {
  border-top: solid 1px #bfcfd9;
}

.content table.data-table thead td:nth-child(2):hover {
  color: #5c6680;
}

.content table.data-table td:nth-child(1) {
  width: 5%;
  color: #afbdde;
  text-align: center;
}

.content table.data-table td:nth-child(2) {
  width: 40%;
}

.content table.data-table td:nth-child(3) {
  width: 30%;
}

.content table.data-table td:nth-child(4) {
  width: 25%;
}

.content table.builder-table td:nth-child(1),
.content table.builder-table td:nth-child(4) {
  width: 4%;
  color: #afbdde;
  text-align: center;
}

.content table.builder-table tr td:nth-child(1) {
	color: transparent;
}

.content table.builder-table tr:hover td:nth-child(1) {
	color: #afbdde;
}

.content table.builder-table td:nth-child(4) {
	cursor: pointer;
}

.content table.builder-table td:nth-child(4):hover {
	color: #BF5A66;
}

.content table.builder-table td:nth-child(4):hover:active {
	color: #ae4752;
}

.content table.builder-table td:nth-child(2) {
  width: 22%;
}

.content table.builder-table td:nth-child(2) .counter {
  width: 100%;
  text-align: center;
  margin-top: 5px;
  color: #8fa0c6;
  font-weight: bold;
}

.content table.builder-table td:nth-child(3) {
  width: 70%;
}

.content table.viewer-table td:nth-child(1) {
  width: 4%;
  color: #afbdde;
  text-align: center;
}

.content table.viewer-table td:nth-child(2) {
  width: 26%;
}

.content table.viewer-table td:nth-child(3) {
  width: 30%;
}

.content table.viewer-table td:nth-child(4),
.content table.viewer-table td:nth-child(5) {
  width: 20%;
}

.content table tbody td {
  border-left: solid 1px rgba(0, 0, 0, 0.1);
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  background: #fbfbff;
  color: #3c4354;
  vertical-align: top;
}

.content table.data-table tbody td {
	cursor: pointer;
}

.content table.builder-table tbody tr.empty:not(:first-child) td {
	opacity: 0.5;
}

.content table.builder-table tbody tr.empty:hover td,
.content table.builder-table tbody tr.empty:hover td {
	opacity: 1;
}

.content table.builder-table .input {
	background: #fff;
  border: solid 1px rgba(0, 0, 0, 0.15);
  padding: 5px 12px;
  font-size: 14px;
  color: #055E51;
  width: 100%;
  font-family: 'Titillium Web', sans-serif;
  resize: vertical;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

.content table tbody td.green {
	color: #12B829;
}

.content table tbody td.blue {
	color: #128fb8;
}

.content table tbody td.red {
	color: #BF5A66;
}

.content table tbody td a {
	color: #0c7fa6;
}

.content table tbody td a:hover {
	text-decoration: underline;
}

.content table.data-table tbody tr:hover td {
  background: #f4f4ff;
}

.content table.data-table tbody tr:hover:active td {
  background: #eaeaff;
}

.content table.data-table tbody tr:hover td:nth-child(1) {
  color: #75819d;
}

/* Container New Survey Message */
.new-survey-message {
  width: 100%;
  text-align: center;
  padding-top: 120px;
  height: 500px;
  background-color: #38A0DC;
  background: url("/images/transparent.png");
  background-repeat: repeat;
  color: #fff;
  
  -webkit-box-shadow: -1px 0 0 #3897cd;
  -moz-box-shadown: -1px 0 0 #3897cd;
  box-shadow: -1px 0 0 #3897cd;
  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.new-survey-message .message {
  font-size: 35px;
  font-family: 'Titillium Web', sans-serif;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
  font-weight: 900;
}

.new-survey-message .message span {
  color: #8DE9FF;
  font-family: inherit;
}

.new-survey-message .submessage {
  font-size: 25px;
  font-family: 'Titillium Web', sans-serif;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 50px;
  line-height: 34px;
}

.new-survey-message .subsubmessage {
  font-size: 18px;
  font-family: 'Titillium Web', sans-serif;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.8);
  font-style: italic;
}

.new-survey-message .new-button {
  text-transform: uppercase;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  font-family: 'Titillium Web', sans-serif;
  padding: 8px 20px;
  font-size: 22px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  margin: 0 10px 40px 0;
  display: inline-block;
  
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
  -webkit-box-shadow: inset 0 1px 1px #77bdf4,0 2px 2px 3px rgba(0,0,0,0.2);
  -moz-box-shadown: inset 0 1px 1px #77bdf4,0 2px 2px 3px rgba(0,0,0,0.2);
  box-shadow: inset 0 1px 1px #77bdf4,0 2px 2px 3px rgba(0,0,0,0.2);

  background: #14c72f;
  background: -webkit-linear-gradient(#16e513, #14c72f, #14c72f);
  background: -moz-linear-gradient(#16e513, #14c72f, #14c72f);
  background: -ms-linear-gradient(#16e513, #14c72f, #14c72f);
  background: -o-linear-gradient(#16e513, #14c72f, #14c72f);
  background: linear-gradient(#16e513, #14c72f, #14c72f);
  background: #16e513;
  background: -webkit-linear-gradient(#14c72f, #14c72f);
  background: -moz-linear-gradient(#14c72f, #14c72f);
  background: -ms-linear-gradient(#14c72f, #14c72f);
  background: -o-linear-gradient(#14c72f, #14c72f);
  background: linear-gradient(#14c72f, #14c72f);
  -webkit-box-shadow: inset 0 1px 1px #2dd045, 0 2px 2px 3px rgba(0,0,0,0.2);
  -moz-box-shadown: inset 0 1px 1px #2dd045, 0 2px 2px 3px rgba(0,0,0,0.2);
  box-shadow: inset 0 1px 1px #2dd045, 0 2px 2px 3px rgba(0,0,0,0.2);
}
.new-survey-message .new-button:hover {
  background: #1cc21a;
}
.new-survey-message .new-button:hover:active{
  background: #19ab16;
}
