/* Container Sub Header */
.subheader {
	background: #F7F8FA;
	width: 100%;
	border-bottom: solid 1px #BFCFDA;
}

.subheader .block {
	float: left;
	width: 33.33%;
	border-left: solid 1px #BFCFDA;
	text-align: center;
	padding: 10px 0;
	font-family: 'Titillium Web', sans-serif;
	
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.subheader .block .value {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  font-size: 22px;
	color: #2b2b6f;
}

.subheader .block .value.green {
	color: #4AB73E;
}

.subheader .block .value.blue {
	color: #0895C3;
}


.subheader .block .title {
	font-size: 16px;
	font-family: 'Titillium Web', sans-serif;
	color: #8787b2;
}

/* Container Graph */
.graph {
	width: 100%;
	position: relative;
}

.graph .line {
	position: relative;
	width: 1px;
	height: 100%;
	top: 0;
	left: 50%;
	margin-left: -0.5px;
	padding: 25px 0;
	background: #BFCFDA;
	min-height: 100px;
}

.graph .line .set {
	margin: 5px 0;
	width: 500px;
	margin-left: -250px;
	height: 30px;
}

.graph .line .slider {
	position: relative;
	width: 250px;
	height: 30px;
}

.graph .line .set .tag {
	position: absolute;
	z-index: 1;
	width: 100%;
	text-align: center;
	color: #fff;
	font-family: 'Titillium Web', sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding-top: 3px;
}

.graph .line .set .item {
	position: absolute;
	z-index: 0;
	background: rgba(0, 0, 0, 0.05);
	height: 30px;
}

.graph .line .set .item.good {
	border-left: solid 1px #BFCFDA;
	background: #12B829;
	
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
	
	-webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  -o-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}

.graph .line .set .item.bad {
	background: #BF5A66;
	
	-webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  -ms-border-radius: 4px 0 0 4px;
  -o-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}