html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
	padding: 0;
}

body * {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.background {
    background-color: #444;
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#222850', endColorstr='#355d80');
    background-size: 100%;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,rgba(17,2,49,.75)),color-stop(100%,rgba(17,2,49,0))),-webkit-gradient(linear,0 100%,100% 0,color-stop(0%,#eb6670),color-stop(12.5%,#f67f7c),color-stop(25%,#f9ac97),color-stop(37.5%,#f1b79f),color-stop(50%,#e1bea7),color-stop(62.5%,#c3bcb0),color-stop(75%,#8aabb2),color-stop(87.5%,#4e95b2),color-stop(100%,#2588b6));
    background-image: -webkit-linear-gradient(top,rgba(17,2,49,.75),rgba(17,2,49,0)),-webkit-linear-gradient(bottom left,#eb6670,#f67f7c,#f9ac97,#f1b79f,#e1bea7,#c3bcb0,#8aabb2,#4e95b2,#2588b6);
    background-image: -moz-linear-gradient(top,rgba(17,2,49,.75),rgba(17,2,49,0)),-moz-linear-gradient(bottom left,#eb6670,#f67f7c,#f9ac97,#f1b79f,#e1bea7,#c3bcb0,#8aabb2,#4e95b2,#2588b6);
    background-image: -o-linear-gradient(top,rgba(17,2,49,.75),rgba(17,2,49,0)),-o-linear-gradient(bottom left,#eb6670,#f67f7c,#f9ac97,#f1b79f,#e1bea7,#c3bcb0,#8aabb2,#4e95b2,#2588b6);
    background-image: linear-gradient(top,rgba(17,2,49,.75),rgba(17,2,49,0)),linear-gradient(bottom left,#eb6670,#f67f7c,#f9ac97,#f1b79f,#e1bea7,#c3bcb0,#8aabb2,#4e95b2,#2588b6);
}

.container {
  position: relative;
  z-index: 1;
  padding: 0 20px;
}

.clear {
  float: none;
  clear: both;
}

.hidden {
  display: none;
}

ul {
	list-style: none;
}

a {
  color: inherit;
	text-decoration: none;
}

.hidden {
  display: none;
}

.left {
	float: left;
}

.right {
	float: right;
}

.disabled {
  opacity: .8;
}

*:disabled {
  opacity: .8;
}

form {
  margin: 0;
  padding: 0;
}

input, select, textarea {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  outline: none;
  border: none;
  margin: 0;

  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

.footer {
  position: fixed;
  z-index: 3;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 25px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.footer a {
  color: #fff;
  text-decoration: none;
  padding: 0 10px;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  font-family: 'Titillium Web', sans-serif;
}

.footer a:hover {
  text-decoration: underline;
}
