.container {
  width: 800px;
  margin: 200px auto 0;
  text-align: center;
}

.container .message {
  font-family: 'Raleway', sans-serif;
  color: #fff;
  text-shadow: 0 4px 0 rgba(0, 0, 0, 0.2);
  font-size: 125px;
  font-weight: 900;
  margin-bottom: 20px;
}

.container .submessage {
  font-family: 'Titillium Web', sans-serif;
  color: #fff;
  text-shadow: 0 4px 0 rgba(0, 0, 0, 0.2);
  font-size: 40px;
  font-weight: 900;
}
