html, body {
	background: #FAFFFF;
}

* {	
	-webkit-touch-callout: none;
  -webkit-user-select: none; 
  outline: none;
}

body > .background {
	display: none;
}

.form {
	position: fixed;
	top: 50%;
	margin-top: -45px;
	height: 70px;
	width: 100%;
}

.form .input {
	width: 100%;
	background: none;
	font-size: 45px;
	text-shadow: 0 1px 0 rgba(0,0,0,0.2);
  font-family: 'Titillium Web', sans-serif;
  color: #055E51;
  text-align: center;
  text-transform: uppercase;
}

.form .enter {
	width: 100%;
	text-align: center;
	margin-top: 10px;
	color: rgba(0,0,0,0.3);
	font-family: 'Titillium Web', sans-serif;
	font-weight: bold;
}
