<% include ../includes/start.ejs %>
<form class="form" action="#">
	<input class="input" placeholder="Enter Your Survey Code"/>
	<div class="enter">(hit enter)</div>
</form>
<% include ../includes/end.ejs %>
