<% include ../../includes/start.ejs %>
<div class="container">
  <% include ../header.ejs %>
  <div class="modal">
    <% include ./surveys.ejs %>
    <div class="shadow-top"></div>
    <div class="shadow-bottom"></div>
  </div>
</div>
<% include ../../includes/footer.ejs %>
<% include ../../includes/end.ejs %>
