<% include ../includes/start.ejs %>
<div class="container">
  <a href="/" class="logo"><%= siteName %></a>
  <div class="modal">
    <div class="message">Your Link Has Expired :(</div>
    <div class="submessage">
      Your link has already been used. If this is your<br>
      first time using this link,
      <a href="mailto:vallelungabrian@gmail.com">contact support</a>.
    </div>
    <a href="/login" class="button">Login In</a>
  </div>
</div>
<% include ../includes/footer.ejs %>
<% include ../includes/end.ejs %>
