<% include ../includes/start.ejs %>
<div class="container expanded">
	<img class="example" src="/images/example.png"/>
	<div class="information smaller">
	  <a href="/" class="logo"><%= siteName %></a>
	  <div class="modal">
	    <div class="message">Lets Improve The Classroom!</div>
	    <form action="/login">
	      <input type="hidden" name="_csrf" value="<%= csrf %>">
	      <input type="email" class="input" name="email" placeholder="Email" value="<%= remember %>" step="1" autofocus required>
	      <input type="password" class="input" name="password" placeholder="Password" step="2" required>
	      <label class="remember">
	        <input type="checkbox" class="checkbox" name="remember" value="true" checked="checked">
	        Remember Me
	      </label>
	      <a class="forgot" href="/reset">Forgot your password?</a>
	      <div class="clear"></div>
	      <input type="submit" class="button" value="Sign In!">
	    </form>
	  </div>
	  <div class="bottom-text">
	    Don't have an account?
	    <a href="/register">Sign Up</a>
	  </div>
	</div>
</div>
<% include ../includes/footer.ejs %>
<% include ../includes/end.ejs %>
