<% include ../includes/start.ejs %>
<div class="container expanded">
	<img class="example" src="/images/example2.png"/>
	<div class="information">
	  <a href="/" class="logo"><%= siteName %></a>
	  <div class="modal">
	    <div class="message">Create Your Account!</div>
	    <div class="submessage">
	      Please enter a secure alphanumeric password<br>
	      that is at least 6 characters long.
	    </div>
	    <form action="/register">
	      <input type="hidden" name="_csrf" value="<%= csrf %>">
	      <input type="text" class="input" name="name" placeholder="Full Name" step="1" autofocus required>
	      <input type="email" class="input" name="email" placeholder="Email" step="2" required>
	      <input type="password" class="input" name="password" placeholder="Password" pattern=".{6,}" step="3" required>
	      <input type="submit" class="button" value="Create Account!">
	    </form>
	  </div>
	  <div class="bottom-text">
	    Already have an account?
	    <a href="/login">Sign In</a>
	  </div>
	</div>
</div>
<% include ../includes/footer.ejs %>
<% include ../includes/end.ejs %>
