<% include ../includes/start.ejs %>
<div class="container">
  <a href="/" class="logo"><%= siteName %></a>
  <div class="modal">
    <div class="message">Password Was Updated!</div>
    <div class="submessage">
      Your password has been updated. Please sign<br>
      into your account to visit the dashboard.
    </div>
    <a href="/login" class="button">Login In</a>
  </div>
</div>
<% include ../includes/footer.ejs %>
<% include ../includes/end.ejs %>
