<div class="footer">
  <a href="/">Home</a>
  •
  <a href="mailto:vallelungabrian@gmail.com">Email Us</a>
  •
  <a href="tel:3108492533">Call: (310) 849-2533</a>
  •
  <a href="/logout">Logout</a>
</div>
