<div class="content">
  <div class="header">
    <div class="back-button fa fa-chevron-left"></div>
    <div class="new-button fa fa-plus"></div>
    <div class="search-box">
      <div class="icon fa fa-search"></div>
      <input class="search input" type="text" placeholder="Search for a pylot by title, tags..."/>
    </div>
    <div class="clear"></div>
  </div>
  <table class="data-table">
    <thead>
      <tr>
        <td></td>
        <td>Title</td>
        <td>Dynamic Text</td>
        <td>Variables</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><div class="fa fa-pencil"></div></td>
        <td>Login Button</td>
        <td>Login With Facebook</td>
        <td></td>
      </tr>
      <tr>
        <td><div class="fa fa-pencil"></div></td>
        <td>Welcome Message</td>
        <td>
          Welcome to Night Owl! Your first couple questions are free,
          then it is <span style="background: #e64040">99 cents</span> after. You also get
          <span style="background: #f6710b">2</span> per referral!
        </td>
        <td>
          <span style="background: #e64040">price</span>
          <span style="background: #f6710b">referral</span>
        </td>
      </tr>
      <tr>
        <td><div class="fa fa-pencil"></div></td>
        <td>Push Notifications Message</td>
        <td>Please enable notifications so our tutors can contact you!</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
