<div class="sidebar">
  <div class="header">
    <div class="project">Night Owl</div>
    <div class="arrow fa fa-chevron-down"></div>
    <div class="clear"></div>
  </div>
  <div class="navigation">
    <div class="header">Platforms</div>
    <a class="item fa fa-globe active" href="/dashboard/123/global">Global</a>
    <a class="item fa fa-apple" href="/dashboard/123/ios">iOS</a>
    <a class="item fa fa-android" href="/dashboard/123/android">Android</a>
  </div>
</div>
